.root{ 
	display: inline-block;

	margin: 1em;

	background-color: #efefef;
	border: 1px solid #ccc;
	border-radius: 0.5em;

	min-width: 10em;
	vertical-align: top;
}

.header{
	overflow: auto;

	padding: 1em;

	color: #efefef;
	background-color: #333;

	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.name{
	float:left;
}

.addNote{
	float: left;
	margin-right: 0.5em;
}

.delete{
	float: right;

	margin-left: 0.5em;

	visibility: hidden;
}

.header:hover .delete{
	visibility: visible;
}


.deleteBtn{

	composes: btn from './main.css';
	padding: 0;

	cursor: pointer;

	color: white;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
}